.hljs.lang-scss {
  .hljs-keyword {
    color: #d73a49;
  }
  .hljs-string,
  .hljs-selector-tag,
  .hljs-number {
    color: #22863a;
  }
  .hljs-selector-class,
  .hljs-selector-pseudo,
  .hljs-built-in {
    color: #6f42c1;
  }
  .hljs-attribute {
    color: #005cc5;
  }
}
