.hljs.lang-typescript {
  .hljs-keyword,
  .hljs-selector-id {
    color: #d73a49;
  }
  .hljs-string {
    color: #22863a;
  }
  .hljs-number,
  .hljs-literal,
  .hljs-built-in,
  .hljs-variable.language_ {
    color: #005cc5;
  }
  .hljs-title.function_,
  .hljs-title.class_,
  .hljs-meta {
    color: #6f42c1;
  }
}
