

.hljs.lang-typescript {
  color: #000000;

  .hljs-built-in {
    color: #267f99;
  }
  .hljs-number {
    color: #1750eb;
  }
  .hljs-literal, .hljs-keyword {
    color: #0033b3;
  }
  .hljs-title.function_ {
    color: #7a7a43;
  }
}