<app-introduction pageTitle="Click outisde">
  <p>Directive for detecting when the user clicks outside a given element.</p>
</app-introduction>
<app-prerequisites moduleName="ArdiumClickOutsideModule" />
<section>
  <h2>Listening to the event</h2>
  <p>
    <code>ClickOutisdeDirective</code> provides an event emitter <code>(ardClickOutside)</code> that emits a click event
    or a touch event every time the user clicks <i>outside</i> of a given element.
  </p>
  <p>Internally the directive listens to <code>mousedown</code> and <code>touchstart</code> events.</p>
  <app-code-example [data]="ClickOutsideExampleData" heading="Outside click counter" [isCodeShown]="false" />
</section>
<section>
  <h2>Performance considerations</h2>
  <p>
    The directive internally uses
    <a href="https://developer.mozilla.org/en-US/docs/Web/API/Node/contains"><code>Node.contains()</code></a
    >, which, when executed repeatedly on particularly large DOM trees, may lead to performance issues. It's recommended
    to avoid using the directive if more than 30 clicks per second are expected, as performance may degrade depending on
    the user's device. For most cases with fewer interactions, no significant issues should arise.
  </p>
</section>
