:host {
  display: block;
}

ul {
  border: 1px solid #d4dbe8;
  border-radius: 0.75rem;
  margin: 0;
  padding: 0.5rem 0.75rem;
}

ul > li {
  list-style: none;
  margin: 0;
  padding: 0.4rem 0;
}

ul > li[ard-divider] {
  --ard-divider-margin-size: 0;
}
