<app-introduction pageTitle="HTTP Service">
  <p>
    An extension of the native <a href="https://angular.dev/api/common/http/HttpClient"><code>HttpClient</code></a> with
    support for default options and with extended type safety.
  </p>
</app-introduction>

<section>
  <h2>Creating an HTTP Service</h2>
  <p>
    Custom HTTP Services are created using the `createHttpService` function. It takes two arguments: a string containing
    the API url, and (optionally) default settings to be used for every request.
  </p>
  <p>
    The function returns a class definition. To create an HTTP Service in a project, create a service that extends from
    the returned class definition.
  </p>
  <app-code language="typescript" [code]="howToCreateCode" styled />
  <p>
    <strong>Note:</strong> the native <code>HttpClient</code> still has to be provided with <code>provideHttpClient()</code>!
  </p>
</section>

<section>
  <h2>Why create a custom HTTP Service?</h2>
  <p>
    The newly created HTTP Service should be used exactly the same as the native <code>HttpClient</code>. All the same
    methods are available, but <code>POST</code>, <code>PUT</code>, and <code>PATCH</code> methods now support
    specifying the request body type through a type parameter.
  </p>
  <p>
    The main reason to use a custom HTTP Service over <code>HttpClient</code> is the ability to specify the API url that
    will be prepended to every request, which is not easily possible with the native client.
  </p>
  <p>This is how a custom HTTP Service can improve code:</p>
  <app-code-before-after language="typescript" [codeBefore]="codeBefore" [codeAfter]="codeAfter" />
</section>
