:host {
  position: relative;
}

ard-icon-button {
  opacity: 0;
  appearance: none;
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.625em;

  ard-icon {
    color: var(--ard-text3);
  }
}

:host:hover {
  ard-icon-button {
    opacity: 1;
    appearance: auto;
  }
}
