<header>
  <div class="container">
    <ard-button class="brand-button" appearance="transparent" variant="pill" color="none" lightColoring (click)="navigateTo('/')">
      <app-logo />
      Ardium UI
    </ard-button>
    <nav>
      <ard-button
        appearance="transparent"
        variant="pill"
        color="none"
        lightColoring
        (click)="navigateTo('/components')"
      >
        Components
      </ard-button>
      <ard-button appearance="transparent" variant="pill" color="none" lightColoring (click)="navigateTo('/devkit')">
        Devkit
      </ard-button>
    </nav>
  </div>
  <div class="container">
    <ard-button
      appearance="transparent"
      variant="pill"
      (click)="navigateTo('https://github.com/orgs/ardium-ui/repositories')"
      color="none"
      lightColoring
    >
      <div class="button-content">
        <svg-github />
        GitHub
      </div>
    </ard-button>
  </div>
</header>
