<div class="example-container">
  <div class="example-container__top-bar">
    @if (shouldShowFullCodeData()) {
    <div class="example-container__heading">{{ heading() }}</div>
    }
    <div class="example-container__buttons">
      <ard-icon-button (click)="toggleCodeShown()"><ard-icon>code</ard-icon></ard-icon-button>
    </div>
  </div>
  @if (isCodeShown()) {
  <ard-tabber stretchTabs="false" (changeTab)="onTabChange($event)">
    @for (dataItem of mappedData(); track $index) {
    <ard-tab [tabId]="dataItem.label" [label]="dataItem.label">
      <app-code [language]="dataItem.type" [code]="dataItem.code" />
      <ng-template [ngTemplateOutlet]="copyButton" />
    </ard-tab>
    }
  </ard-tabber>
  } @else if(!shouldShowFullCodeData()) {
  <app-code [language]="simpleCodeType()" [code]="simpleCodePiece()!" />
  <ng-template [ngTemplateOutlet]="copyButton" />
  }
</div>
@if (displayWhenSimple() || shouldShowFullCodeData()) {
<div class="example-display">
  <ng-container #exampleDisplay />
</div>
}

<ng-template #copyButton>
  <ard-icon-button class="copy-button" (click)="executeCopy()"><ard-icon>content-copy</ard-icon></ard-icon-button>
</ng-template>
