:host {
  height: calc(100vh - 3rem);
  width: 15rem;
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 0.5rem 1.5rem;
  border-right: 1px solid var(--ard-detail-ultralight);
  overflow: auto;

  > * {
    width: 100%;
    padding: 0 1rem 0 1.5rem;
    display: flex;
    align-items: center;
    position: relative;
    
    &::before {
      content: '';
      position: absolute;
      left: 0.75rem;
      top: 0;
      bottom: 0;
      width: 0;
      transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
      border-left: 1px solid var(--ard-detail-light);
      border-bottom: 1px solid var(--ard-detail-light);
    }
  }
  a {
    min-height: 2.25rem;
    max-height: 2.25rem;
    text-decoration: none;
    outline: none;
    border-radius: 0.5rem;
    transition: background-color 0.1s ease, padding-left 0.1s ease;
    --_bg-opacity: 0;
    background-color: rgba(var(--ard-overlay-rgb), var(--_bg-opacity));
    color: var(--ard-text2);
    letter-spacing: 0.025em;
    font-weight: 500;
    font-size: 0.875rem;

    &:hover,
    &:focus-visible,
    &.active {
      transition: background-color 0.1s ease, padding-left 0.2s ease;
    }
    &:hover {
      --_bg-opacity: 0.04;
    }
    &:focus-visible {
      --_bg-opacity: 0.1;
    }
    &.active {
      font-weight: 500;
      color: rgb(var(--ard-primary-500));
      background-color: rgb(var(--ard-primary-50));

      &::before {
        background-color: rgb(var(--ard-primary-500));
      }
    }
    &.pointer-inactive {
      pointer-events: none;
    }
    &.disabled {
      opacity: 0.4;
    }
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #00000042;
  }

  .group-name {
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.825rem;
    font-weight: 400;
    color: hsl(204, 12%, 40%);
    text-transform: uppercase;

    &::before {
      top: 50%;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      // +1px to keep it centered on the line - it has to be odd number of pixels wide
      left: calc(0.75rem + 1px);
      width: calc(0.5rem + 1px);
      transform: translate(-50%, -50%);
      aspect-ratio: 1;
      border-radius: 9999px;
      background-color: var(--ard-bg);
      border: 1px solid var(--ard-detail-light);
    }
  }
  a.disabled + .group-name {
    &::before {
      opacity: 0.4;
    }
  }
  .group-name + a, a:first-child {
    &::before {
      bottom: 0.25rem;
      width: 0.375rem;
      border-bottom-left-radius: 0.125rem;
    }
  }
}
