<h1>Exception list for {{ data.name }} — Ardium UI</h1>
@if (!data.exceptions?.length) {
<p>{{ data.name }} doesn't raise any own exceptions.</p>
} @else { @for (component of data.exceptions; track component.name) {
<h2 appAutoId>{{ component.name }}</h2>
@for (exc of component.exceptions; track exc.code) {
<h3 [id]="exc.code">
  <code>
    {{ exc.code }}
  </code>
</h3>
<p>
  <strong>Severity: </strong>
  <app-exception-severity [code]="exc.code" />
</p>
<blockquote [innerHTML]="exc.exceptionText"></blockquote>
@if (isString(exc.description)) {
<p [innerHTML]="exc.description"></p>
} @else { @for (text of exc.description; track $index) {
<p [innerHTML]="text"></p>
} } @if (exc.exampleResults?.length) { @for (exampleResult of exc.exampleResults; track $index) {
<app-example-with-result
  [code]="exampleResult.code"
  [codeLanguage]="exampleResult.codeLanguage"
>
  <p class="example-with-result-result">{{ exampleResult.result }}</p>
</app-example-with-result>
} } } } }
