<app-introduction pageTitle="KBD (keyboard)">
  <p>
    The KBD (keyboard) component can be used to indicate user's keyboard input inside elements such as inputs, tables,
    text, and other.
  </p>
  <app-code-example [data]="KbdBasicExampleData" heading="Basic KBD" [isCodeShown]="false" />
</app-introduction>
<app-prerequisites
  moduleName="ArdiumKbdModule"
  [otherModuleNames]="['ArdiumKbdShortcutModule']"
  [styles]="['kbd', ['kbd-shortcut', true]]"
/>
<section>
  <app-h2>Automatic KeyboardEvent translation</app-h2>
  <p>
    KBD provides a feature that automatically converts <code>KeyboardEvent.code</code> into a human-readable format.
  </p>
  <p>
    This feature is case sensitive, so if you type it out by hand, remember to use PascalCase, just like KeyboardEvent
    does.
  </p>
  <app-code-example [data]="KbdTranslationExampleData" heading="KBD Code Translations" />
</section>
<section>
  <app-h2>Full key names</app-h2>
  <p>
    By default, KBD will display a shortened name of the key. This can be changed using the
    <code>full</code> attribute. In some cases, however, there is no difference.
  </p>
  <app-code-example [data]="KbdFullExampleData" heading="KBD Full Key Names" />
</section>
<section>
  <app-h2>Dynamic key values</app-h2>
  <p>KBD allows to set the displayed key dynamically using the <code>key</code> attribute.</p>
  <app-code-example [data]="KbdDynamicExampleData" heading="Dynamic KBD" />
</section>
<section>
  <app-h2>Keyboard shortcuts</app-h2>
  <p>
    Ardium UI exposes the <code>ArdiumKbdShortcut</code> component which streamlines the process of displaying keyboard
    shortcuts.
  </p>
  <p>
    KBD Shortcut component can receive information about the shortcut either as the content, or using the
    <code>keys</code> attribute. Keys can be provided as a string of valid key names separated using a plus, a space, or
    a comma. If using the <code>keys</code> attribute, an array of key names can also be used. If changing the shortcut
    data dynamically is needed, <code>keys</code> attribute must be used.
  </p>
  <p>KBD Shortcut allows to use all the same customization options as the standard KBD.</p>
  <app-code-example [data]="KbdShortcutExampleData" heading="Basic KBD Shortcut" />
</section>
<section>
  <app-h2>KBD appearances</app-h2>
  <p>KBD and KBD Shortcut components can be customized using the <code>appearance</code> attribute.</p>
  <app-code-example [data]="KbdAppearancesExampleData" heading="KBD Appearances" />
  <app-h3>KBD directive</app-h3>
  <p>
    If the use case doesn't need the translation functionality and only the styling is needed, the
    <code>ardKbd</code> can be used. The appearance can be chosen using the <code>ardKbdAppearance</code>
  </p>
  <app-code-example [data]="KbdDirectiveExampleData" heading="KBD Directive" />
</section>
<section>
  <app-h2>Accessibility and Best Practises</app-h2>
  <p>
    <code>ArdiumKbdComponent</code> and <code>ArdiumKbdShortcutComponent</code> both use the semantic
    <code>&lt;kbd&gt;</code> element to ensure proper accessibility. There are some best practises advised:
  </p>
  <ul>
    <li>
      The <code>&lt;ard-kbd&gt;</code> component should only be used to indicate keyboard input. Don't use it to mark up
      other types of content, as this can lead to confusion for users and affect accessibility.
    </li>
    <li>
      Don't use the <code>&lt;ard-kbd&gt;</code> component just for styling or decoration. Only use it to markup text
      that represents actual keyboard input.
    </li>
    <li>
      Always provide additional context when using <code>&lt;ard-kbd&gt;</code> component, whether be using standard
      text or by applying the <code>aria-label</code> or <code>aria-labelledby</code> attributes.
    </li>
  </ul>
</section>
