<ard-button-group>
  <ard-button-group>
    <ard-button appearance="outlined" square><ard-icon>format_bold</ard-icon></ard-button>
    <ard-button appearance="outlined" square><ard-icon>format_italic</ard-icon></ard-button>
    <ard-button appearance="outlined" square><ard-icon>format_underlined</ard-icon></ard-button>
  </ard-button-group>

  <ard-button-group>
    <ard-button appearance="outlined" square><ard-icon>format_align_left</ard-icon></ard-button>
    <ard-button appearance="outlined" square><ard-icon>format_align_center</ard-icon></ard-button>
    <ard-button appearance="outlined" square><ard-icon>format_align_right</ard-icon></ard-button>
  </ard-button-group>
</ard-button-group>
