.center-text {
  padding: 1rem 0;
  text-align: center;
}
.component-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  padding: 1.25rem;
  gap: 2.5rem;
  justify-content: center;
}
a {
  text-decoration: none;
  color: inherit;

  ard-card {
    width: 280px;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.15s ease-in-out;

    img {
      position: relative;
      min-width: calc(100% + 2px);
      left: -1px;
      top: -1px;
      min-height: 10rem;
      border: 1px solid transparent;
    }
    ard-card-title {
      padding-bottom: 1rem;
      padding-top: 0.5rem;
    }
    p {
      padding-bottom: 0;
    }
  }
  &:hover {
    ard-card {
      background-color: rgba(var(--ard-primary-500), 0.05);
    }
  }
}
.group-name {
  text-align: center;
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
  padding-top: 1.5rem;
  color: var(--ard-text3);
  text-transform: uppercase;
}