<article>
  <p class="center-text">{{ topText() }}</p>
  @for (group of mappedRouteData(); track group.group) {
  @if (group.group) {
    <p class="group-name">{{ group.group }}</p>
  }
  <div class="component-grid">
    @for (item of group.children; track $index) {
    <a [routerLink]="item.path">
      <ard-card appearance="outlined">
        @if (item.img) { <img ard-card-image [src]="item.img" /> }
        <ard-card-content>
          <ard-card-title>{{ item.name }}</ard-card-title>
          <p>{{ item.desc }}</p>
        </ard-card-content>
      </ard-card>
    </a>
    }
  </div>
  }
</article>
