<app-introduction pageTitle="Custom signals">
  <p>A set of custom, specialized signals made for very specific tasks.</p>
</app-introduction>
<section>
  <h2>Persistent Signal</h2>
  <p>
    The <code>persistentSignal</code> function creates a <code>WritableSignal</code> that stores its value in local
    storage, session storage, or cookies. By default, it only supports string values, but you can define custom
    serialization and deserialization methods to handle other types.
  </p>
  <p>
    When the signal is initialized, it attempts to read the value associated with the given key from the specified
    storage. If no value is found, the initial value is saved in both the signal and the storage. You can access the
    chosen storage method later via the read-only <code>method</code> property.
  </p>
  <p>
    Whenever the signal value is updated using the <code>set()</code> or <code>update()</code> methods, the change is
    synced to the storage. The signal also provides a <code>clear()</code> method that sets the value to
    <code>null</code> and removes the stored value.
  </p>
  <app-code-example [data]="PersistentSignalExampleData" heading="Basic Persistent Signal" initialTab="ts" />

  <h3>Local Storage and Session Storage</h3>
  <p>For local or session storage, only the key name needs to be defined—no additional settings are required.</p>
  <app-code-example
    [data]="PersistentSignalLocalStorageExampleData"
    heading="Persistent Signal Using Local/Session Storage"
    initialTab="ts"
  />

  <h3>Cookies</h3>
  <p>If using cookies to persist the signal value, the following options can be specified:</p>
  <ul>
    <li><code>expires</code>: Sets the expiry date of the cookie, either as a Date object or a UTC date string.</li>
    <li><code>maxAge</code>: Specifies the cookie's maximum age in seconds.</li>
    <li><code>path</code>: Defines the value of the cookie's <code>Path</code> attribute.</li>
  </ul>
  <p>
    For more details on cookie options, see the
    <a href="https://developer.mozilla.org/en-US/docs/Web/API/Document/cookie#write_a_new_cookie" target="_blank">
      MDN documentation on cookies </a
    >.
  </p>
  <app-code-example
    [data]="PersistentSignalCookiesExampleData"
    initialTab="ts"
    heading="Persistent Signal Using Cookies"
  />

  <h3>Serialization and Deserialization</h3>
  <p>
    Custom <code>serialize()</code> and <code>deserialize()</code> functions can be provided when creating a persistent
    signal, allowing you to store values other than strings, such as numbers or booleans.
  </p>
  <p>
    The <code>serialize()</code> function converts the value to a string for storage, while
    <code>deserialize()</code> is called at initialization to convert the stored string back to the desired type.
  </p>
  <app-code-example [data]="PersistentSignalSerializationExampleData" heading="Persistent Signal with Serialization" />
</section>
<section>
  <h2>Query Param Signal</h2>
  <p>
    <code>queryParamSignal</code> function creates a <code>WritableSignal</code> that persists its value in an URL query
    param. By default only strings are allowed as a value, but custom serialization and deserialization methods can be
    defined.
  </p>
  <p>
    When the signal is created it will try reading the value associated with the given key from the URL query params. If
    no value is found, the initial value will be saved in both the signal and the query param.
  </p>
  <p>
    Whenever the signal value is updated using the standard <code>set()</code> or <code>update()</code> methods, the
    value will be synced in the URL. The signal also provides a <code>clear()</code> method, which sets the value to
    <code>null</code> and removes the query param.
  </p>
  <app-code-example [data]="QueryParamSignalExampleData" heading="Basic query param signal" initialTab="ts" />

  <h3>Serialization and Deserialization</h3>
  <p>
    Custom <code>serialize()</code> and <code>deserialize()</code> functions can be provided when creating a persistent
    signal, allowing you to store values other than strings, such as numbers or booleans.
  </p>
  <p>
    The <code>serialize()</code> function converts the value to a string for storage, while
    <code>deserialize()</code> is called at initialization to convert the stored string back to the desired type.
  </p>
  <app-code-example [data]="QueryParamSignalSerializationExampleData" heading="Query Param Signal with Serialization" />
</section>
<section>
  <h2>Debounced Signal</h2>
  <p>
    The <code>debouncedSignal</code> function creates a <code>WritableSignal</code> that delays updates to its value 
    based on a specified debounce time. The signal will wait for a pause in updates before applying the latest value, 
    which helps prevent frequent changes from being processed too quickly.
  </p>
  <p>
    The function takes an initial value and a debounce time (in milliseconds) as parameters. It returns a 
    <code>WritableSignal</code> that behaves like a normal signal but with debounced updates. The signal's 
    <code>set()</code> method will delay setting the value until the debounce period has elapsed since the last change.
  </p>
  <p>
    The debounce time can be accessed via the read-only <code>debounceTime</code> property, allowing you to check 
    the debounce period applied to the signal.
  </p>
  <p>
    This is useful in scenarios where frequent value changes need to be minimized, such as handling user input in 
    forms or search queries.
  </p>
  <img src="/assets/debounced.svg" alt="Illustration visualizing the debounced signal value handling">
  <app-code-example [data]="DebouncedSignalExampleData" heading="Basic Debounced Signal" initialTab="ts" />
</section>
<section>
  <h2>Throttled Signal</h2>
  <p>
    The <code>throttledSignal</code> function creates a <code>WritableSignal</code> that limits updates to its value 
    based on a specified throttle interval. Instead of processing every update immediately, the signal only updates 
    at most once per throttle period, ignoring additional updates until the interval has passed.
  </p>
  <p>
    The function takes an initial value and a throttle interval (in milliseconds) as parameters. It returns a 
    <code>WritableSignal</code> that behaves like a regular signal but with throttled updates. The signal's 
    <code>set()</code> method will apply the value only once per throttle interval, even if multiple updates are requested 
    within that timeframe. The last update before an interval will be applied, and all previous updates will be lost.
  </p>
  <p>
    The throttle interval can be accessed via the read-only <code>throttleTime</code> property, allowing you to check 
    the interval duration applied to the signal.
  </p>
  <p>
    This is useful in scenarios where high-frequency updates need to be managed efficiently, such as limiting calls 
    to APIs in real-time applications or handling continuous events like scrolling or mouse movement.
  </p>
  <img src="/assets/throttled.svg" alt="Illustration visualizing the throttled signal value handling">
  <app-code-example [data]="ThrottledSignalExampleData" heading="Basic Throttled Signal" initialTab="ts" />
</section>

