<app-h1>API reference for {{ data.name }} — Ardium UI</app-h1>
@if (data.modules) {
<section>
  <app-h2>Modules</app-h2>
  @for (item of data.modules; track $index) {
  <div class="item-container">
    <app-h3>
      <code>{{ item.name }}</code>
    </app-h3>
    @if (item.description) {
    <p [innerHTML]="item.description"></p>
    }
    <p>
      Exports: @if (isString(item.exports)) {
      <a (click)="scrollTo('#' + item.exports)">
        <code>{{ item.exports }}</code>
      </a>
      } @else { @for (export of item.exports; track $index) {
      <a (click)="scrollTo('#' + export)">
        <code>{{ export }}</code>
      </a>
      @if ($index !== item.exports.length - 1) {{{ ', ' }}} } }
      <!-- WARNING! all whitespace in the above line is essential as-is ^^^^^^^ DO NOT CHANGE UNLESS YOU KNOW WHAT YOU ARE DOING -->
    </p>
  </div>
  }
</section>
} @if (data.components) {
<section>
  <app-h2>Components</app-h2>
  @for (item of data.components; track $index) {
  <div class="item-container">
    <app-h3>
      <code>{{ item.name }}</code>
    </app-h3>
    @if (item.description) {
    <p [innerHTML]="item.description"></p>
    }
    <p>
      Selector: <code>{{ item.selector }}</code>
    </p>
    <p>
      @if (item.exportedFrom !== null) { Exported from:
      <a (click)="scrollTo('#' + item.exportedFrom)">
        <code>{{ item.exportedFrom }}</code>
      </a>
      } @else { This component is standalone and needs to be imported separately. }
    </p>
    @if (item.inputs) {
    <ng-template
      [ngTemplateOutlet]="inputsTable"
      [ngTemplateOutletContext]="{ $implicit: item.inputs, prefix: item.name }"
    />
    } @if (item.twoWayBindings) {
    <ng-template
      [ngTemplateOutlet]="twoWayBindingsTable"
      [ngTemplateOutletContext]="{ $implicit: item.twoWayBindings, prefix: item.name }"
    />
    } @if (item.outputs) {
    <ng-template
      [ngTemplateOutlet]="outputsTable"
      [ngTemplateOutletContext]="{ $implicit: item.outputs, prefix: item.name }"
    />
    } @if (item.templates) {
    <app-h4 [idPrefix]="item.name">Customization Templates</app-h4>
    @for (template of item.templates; track template.name) {
    <app-h5 [idPrefix]="item.name + 'template'">{{ template.name }}</app-h5>
    @if (template.description) {
    <p [innerHTML]="item.description"></p>
    }
    <p>
      Selector: <code>{{ item.selector }}</code>
    </p>
    @if (template.context?.length) {
    <ng-template
      [ngTemplateOutlet]="propertiesTable"
      [ngTemplateOutletContext]="{ $implicit: template.context, prefix: item.name + 'template' + template.name, headingType: 'h6', headingText: 'Template Context', }"
    />
    } @else {
    <app-h6 [idPrefix]="item.name + 'template' + template.name">Template Context</app-h6>
    <p>This template has no own context properties.</p>
    }
    <app-h6 [idPrefix]="item.name + 'template' + template.name">Default HTML Implementation</app-h6>
    <app-code language="xml" [code]="template.defaultHtmlContent" styled />
   } } @if (item.contentChildren) {
    <app-h4 [idPrefix]="item.name">Content Children</app-h4>
    <table>
      <thead>
        <tr>
          <th>Selector</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        @for (child of item.contentChildren; track $index) {
        <tr>
          <td>
            @if (child.selector === null) {
            <i>default</i>
            } @else {
            <code>{{ child.selector }}</code>
            }
          </td>
          <td>
            <p [innerHTML]="child.description"></p>
          </td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
  }
</section>
} @if (data.directives) {
<section>
  <app-h2>Directives</app-h2>
  @for (item of data.directives; track $index) {
  <div class="item-container">
    <app-h3>
      <code>{{ item.name }}</code>
    </app-h3>
    @if (item.description) {
    <p [innerHTML]="item.description"></p>
    }
    <p>
      Selector: <code>{{ item.selector }}</code>
    </p>
    <p>
      @if (item.exportedFrom !== null) { Exported from:
      <a (click)="scrollTo('#' + item.exportedFrom)">
        <code>{{ item.exportedFrom }}</code>
      </a>
      } @else { This directive is standalone and needs to be imported separately. }
    </p>
    @if (item.inputs) {
    <ng-template
      [ngTemplateOutlet]="inputsTable"
      [ngTemplateOutletContext]="{ $implicit: item.inputs, prefix: item.name }"
    />
    } @if (item.twoWayBindings) {
    <ng-template
      [ngTemplateOutlet]="twoWayBindingsTable"
      [ngTemplateOutletContext]="{ $implicit: item.twoWayBindings, prefix: item.name }"
    />
    } @if (item.outputs) {
    <ng-template
      [ngTemplateOutlet]="outputsTable"
      [ngTemplateOutletContext]="{ $implicit: item.outputs, prefix: item.name }"
    />
    }
  </div>
  }
</section>
} @if (data.pipes) {
<section>
  <app-h2>Pipes</app-h2>
  @for (item of data.pipes; track $index) {
  <div class="item-container">
    <app-h3>
      <code>{{ item.name }}</code>
    </app-h3>
    <p [innerHTML]="item.description"></p>
    <p>
      Selector: <code>{{ item.selector }}</code>
    </p>
    <p>
      @if (item.exportedFrom !== null) { Exported from:
      <a (click)="scrollTo('#' + item.exportedFrom)">
        <code>{{ item.exportedFrom }}</code>
      </a>
      } @else { This pipe is standalone and needs to be imported separately. }
    </p>
    @if (item.params) {
    <ng-template
      [ngTemplateOutlet]="paramsTable"
      [ngTemplateOutletContext]="{ $implicit: item.params, prefix: item.name }"
    />
    }
  </div>
  }
</section>
} @if (data.classes) {
<section>
  <app-h2>Classes</app-h2>
  <ng-template [ngTemplateOutlet]="classOrInterface" [ngTemplateOutletContext]="{ $implicit: data.classes }" />
</section>
} @if (data.services) {
<section>
  <app-h2>Services</app-h2>
  <ng-template [ngTemplateOutlet]="classOrInterface" [ngTemplateOutletContext]="{ $implicit: data.services }" />
</section>
} @if (data.functions) {
<section>
  <app-h2>Functions</app-h2>
  @for (item of data.functions; track $index) {
  <div class="item-container">
    <app-h3>
      <code>{{ item.name }}</code>
    </app-h3>
    @if (isOverloadedFunction(item)) { @for (overload of item.overloads; track $index) {
    <app-h4 [idPrefix]="item.name">Overload {{ $index + 1 }}</app-h4>
    <ng-template
      [ngTemplateOutlet]="functionTable"
      [ngTemplateOutletContext]="{
        $implicit: overload,
        headingType: 'h5',
        prefix: item.name + ' overload ' + ($index + 1)
      }"
    />
    } } @else {
    <ng-template
      [ngTemplateOutlet]="functionTable"
      [ngTemplateOutletContext]="{ $implicit: item, prefix: item.name }"
    />
    }
  </div>
  }
</section>
} @if (data.interfaces) {
<section>
  <app-h2>Interfaces</app-h2>
  <ng-template [ngTemplateOutlet]="classOrInterface" [ngTemplateOutletContext]="{ $implicit: data.interfaces }" />
</section>
} @if (data.types) {
<section>
  <app-h2>Types</app-h2>
  @for (item of data.types; track $index) {
  <div class="item-container">
    <app-h3>
      <code>{{ item.name }}</code>
    </app-h3>
    <p [innerHTML]="item.description"></p>
    <app-code [code]="item.definition" language="typescript" styled />
    @if (item.typeParams?.length) {
    <ng-template
      [ngTemplateOutlet]="paramsTable"
      [ngTemplateOutletContext]="{
        $implicit: item.typeParams,
        isTypeParams: true,
        headingType: 'h4',
        prefix: item.name
      }"
    />
    }
  </div>
  }
</section>
} @if (data.enums) {
<section>
  <app-h2>Enums</app-h2>
  @for (item of data.enums; track $index) {
  <div class="item-container">
    <app-h3>
      <code>{{ item.name }}</code>
    </app-h3>
    <p [innerHTML]="item.description"></p>
    <app-code [code]="item.definition" language="typescript" styled />
  </div>
  }
</section>
} @if (data.injectionTokens) {
<section>
  <app-h2>Injection Tokens</app-h2>
  @for (item of data.injectionTokens; track $index) {
  <div class="item-container">
    <app-h3>
      <code>{{ item.name }}</code>
    </app-h3>
    <p [innerHTML]="item.description"></p>
    <p>
      Requires a value of type
      <a (click)="scrollTo('#' + item.type)">
        <code>{{ item.type }}</code> </a
      >.@if (item.allOptional)
      {{{ ' All properties are optional, and missing properties will be set to default values.' }}}
    </p>
  </div>
  }
</section>
}

<ng-template #inputsTable let-tableData let-prefix="prefix">
  <app-h4 [idPrefix]="prefix">Inputs</app-h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      @for (input of tableData; track $index) {
      <tr>
        <td>
          @if (input.deprecated) {
          <ard-icon title="This input is deprecated.">delete</ard-icon>
          }
          <code>{{ input.name }}</code>
        </td>
        <td>
          <code>{{ input.type }}</code>
        </td>
        <td>
          <p [innerHTML]="input.description"></p>
          <p>
            @if (input.required) { Required. } @else if (input.default) { Optional. Defaults to
            <code [innerHTML]="input.default"></code>. }
          </p>
        </td>
      </tr>
      }
    </tbody>
  </table>
</ng-template>

<ng-template #twoWayBindingsTable let-tableData let-prefix="prefix">
  <app-h4 [idPrefix]="prefix">Two-way bindings</app-h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      @for (input of tableData; track $index) {
      <tr>
        <td>
          @if (input.deprecated) {
          <ard-icon title="This two-way binding is deprecated.">delete</ard-icon>
          }
          <code>{{ input.name }}</code>
        </td>
        <td>
          <code>{{ input.type }}</code>
        </td>
        <td>
          <p [innerHTML]="input.description"></p>
          <p>
            @if (input.required) { Required. } @else if (input.default) { Optional. Defaults to
            <code [innerHTML]="input.default"></code>. }
          </p>
        </td>
      </tr>
      }
    </tbody>
  </table>
</ng-template>

<ng-template #outputsTable let-tableData let-prefix="prefix">
  <app-h4 [idPrefix]="prefix">Outputs</app-h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Emitted type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      @for (output of tableData; track $index) {
      <tr>
        <td>
          @if (output.deprecated) {
          <ard-icon title="This output is deprecated.">delete</ard-icon>
          }
          <code>{{ output.name }}</code>
        </td>
        <td>
          <code>{{ output.type }}</code>
        </td>
        <td>
          <p [innerHTML]="output.description"></p>
        </td>
      </tr>
      }
    </tbody>
  </table>
</ng-template>

<ng-template
  #paramsTable
  let-tableData
  let-headingType="headingType"
  let-isTypeParams="isTypeParams"
  let-prefix="prefix"
>
  @if (headingType === 'h6') {
  <app-h6 [idPrefix]="prefix">{{ isTypeParams ? 'Type' : '' }} Params</app-h6>
  } @else if (headingType === 'h5') {
  <app-h5 [idPrefix]="prefix">{{ isTypeParams ? 'Type' : '' }} Params</app-h5>
  } @else {
  <app-h4 [idPrefix]="prefix">{{ isTypeParams ? 'Type' : '' }} Params</app-h4>
  } @if (tableData?.length) {
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>{{ isTypeParams ? 'Extends' : 'Type' }}</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      @for (param of tableData; track $index) {
      <tr>
        <td>
          @if (param.deprecated) {
          <ard-icon title="This param is deprecated.">delete</ard-icon>
          }
          <code>{{ param.name }}</code>
        </td>
        <td>
          <code>{{ param.type }}</code>
        </td>
        <td>
          <p [innerHTML]="param.description"></p>
          <p>
            @if (param.required) { Required. } @else if (param.required === false) { Optional. Defaults to
            <code [innerHTML]="param.default"></code> @if (param.isMergedObject) { (merged with provided object) }. }
          </p>
        </td>
      </tr>
      }
    </tbody>
  </table>
  } @else {
  <p>No params.</p>
  }
</ng-template>

<ng-template
  #propertiesTable
  let-tableData
  let-headingType="headingType"
  let-headingText="headingText"
  let-prefix="prefix"
>
  @if (headingType === 'h6') {
  <app-h6 [idPrefix]="prefix">{{ headingText ?? 'Properties' }}</app-h6>
  } @else if (headingType === 'h5') {
  <app-h5 [idPrefix]="prefix">{{ headingText ?? 'Properties' }}</app-h5>
  } @else {
  <app-h4 [idPrefix]="prefix">{{ headingText ?? 'Properties' }}</app-h4>
  }
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      @for (property of tableData; track $index) {
      <tr>
        <td>
          @if (property.deprecated) {
          <ard-icon title="This property is deprecated.">delete</ard-icon>
          }
          <code>{{ property.name }}</code>
        </td>
        <td>
          <code>{{ property.type }}</code>
        </td>
        <td>
          <p [innerHTML]="property.description"></p>
        </td>
      </tr>
      }
    </tbody>
  </table>
</ng-template>

<ng-template #functionTable let-item let-headingType="headingType" let-prefix="prefix">
  <p [innerHTML]="item.description"></p>
  @if (item.typeParams?.length) {
  <ng-template
    [ngTemplateOutlet]="paramsTable"
    [ngTemplateOutletContext]="{ $implicit: item.typeParams, isTypeParams: true, headingType, prefix }"
  />
  }
  <ng-template
    [ngTemplateOutlet]="paramsTable"
    [ngTemplateOutletContext]="{ $implicit: item.params, headingType, prefix }"
  />
  @if (headingType === 'h6') {
  <app-h6 [idPrefix]="prefix">Return type</app-h6>
  } @else if (headingType === 'h5') {
  <app-h5 [idPrefix]="prefix">Return type</app-h5>
  } @else {
  <app-h4 [idPrefix]="prefix">Return type</app-h4>
  }
  <p>
    Return type: <code>{{ item.returnType }}</code>
  </p>
</ng-template>

<ng-template #classOrInterface let-items>
  @for (item of items; track $index) {
  <div class="item-container">
    <app-h3>
      <code>{{ item.name }}</code>
    </app-h3>
    @if (item.providedIn) {
    <p>
      Provided in: <code>{{ item.providedIn }} </code>
    </p>
    } @if (item.extends) {
    <p>
      Extends: <code>{{ item.extends }} </code>
    </p>
    }
    <p [innerHTML]="item.description"></p>
    @if (item.typeParams?.length) {
    <ng-template
      [ngTemplateOutlet]="paramsTable"
      [ngTemplateOutletContext]="{
        $implicit: item.typeParams,
        isTypeParams: true,
        headingType: 'h5',
        prefix: item.name
      }"
    />
    } @if (item.properties?.length) {
    <ng-template
      [ngTemplateOutlet]="propertiesTable"
      [ngTemplateOutletContext]="{ $implicit: item.properties, prefix: item.name }"
    />
    } @if (item.methods?.length) {
    <app-h4 [idPrefix]="item.name">Methods</app-h4>
    @for (method of item.methods; track $index) { @if (isOverloadedFunction(method)) { @for (overload of
    method.overloads; track $index) {
    <app-h5 [idPrefix]="item.name + ' methods'">
      <code>{{ method.name }}</code> (overload {{ $index + 1 }})
    </app-h5>
    <ng-template
      [ngTemplateOutlet]="functionTable"
      [ngTemplateOutletContext]="{
        $implicit: overload,
        headingType: 'h6',
        prefix: item.name + ' methods ' + method.name + ' overload ' + ($index + 1)
      }"
    />
    } } @else {
    <app-h5 [idPrefix]="item.name + ' methods'">
      <code>{{ method.name }}</code>
    </app-h5>
    <ng-template
      [ngTemplateOutlet]="functionTable"
      [ngTemplateOutletContext]="{
        $implicit: method,
        headingType: 'h6',
        prefix: item.name + ' methods ' + method.name
      }"
    />
    } } }
  </div>
  }
</ng-template>
