.app-container {
  min-height: 100vh;
  min-height: 100dvh;
  max-height: 100vh;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;

  main {
    min-height: calc(100vh - 3.5rem);
    min-height: calc(100dvh - 3.5rem);
    max-height: calc(100vh - 3.5rem);
    max-height: calc(100dvh - 3.5rem);
  }
}