
.app-container {
  min-height: 100vh;
  min-height: 100dvh;
  max-height: 100vh;
  max-height: 100dvh;
  display: grid;
  grid-template-columns: 15rem 1fr;
  position: relative;
  padding-top: 3.5rem;

  app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  main {
    min-height: calc(100vh - 3.5rem);
    min-height: calc(100dvh - 3.5rem);
  }
}
@media only screen and (max-width: 960px) {
  .app-container {
    grid-template-columns: 1fr;
  }
  aside {
    display: none;
  }
}