pre {
  padding: 1.25rem;
  max-width: 100%;
  overflow: auto;
}
.styled {
  border-radius: 0.5rem;
  border: 1px solid var(--ard-detail-ultralight);
  margin: 1.25rem 0;
}
.no-scroll {
  max-width: max-content;
  overflow: initial;
}