.container {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.item {
  height: 150px;
  width: 225px;
  background-color: burlywood;
  display: grid;
  place-items: center;
}
.overlay {
  position: fixed;
  top: 5rem;
  left: 20rem;
  z-index: 9;
  padding: 1.5rem;
  background-color: var(--ard-bg);
  border: 1px solid var(--ard-border);
  display: grid;
  grid-template-columns: max-content 12ch;
  gap: 0.5rem;
}
