:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.left-side {
  padding-top: 3rem;
}
button {
  margin-top: 0.75rem;
  margin-right: 1rem;
  padding: 0 0.125rem;
}
ol {
  li {
    margin: 0;
    line-height: 1.2;
  }
}