<ard-form-field reserveHintLine>
  <ard-label>Passport Number</ard-label>
  <ard-input [formControl]="passportControl" placeholder="XXXXXXXXX" maxLength="9" />

  <ard-hint-error right>{{ passportControl.value?.length ?? 0 }}/9</ard-hint-error>

  @if (passportControl.touched && passportControl.errors) {
  <ng-container ard-error>
    <ard-error>Please enter a valid passport number</ard-error>
    <ard-error>Please enter a valid passport number 2</ard-error>
    <ard-error>Please enter a valid passport number 3</ard-error>
  </ng-container>
  }
</ard-form-field>
