@import '../node_modules/@ardium-ui/ui/themes/default/core.scss';
@import '../node_modules/@ardium-ui/ui/themes/default/buttons/button.scss';
@import '../node_modules/@ardium-ui/ui/themes/default/buttons/icon-button.scss';
@import '../node_modules/@ardium-ui/ui/themes/default/tabber.scss';
@import '../node_modules/@ardium-ui/ui/themes/default/kbd.scss';

@import './app/styles/code.scss';

//reset styles
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//global styling
html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, 'Segoe UI', sans-serif;
  font-size: 1rem;
  background-color: var(--ard-bg);
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  max-height: 100vh;
  max-height: 100dvh;
}

.no-pointer {
  pointer-events: none;
}

article {
  padding: 0 3rem 1.5rem 3rem;
}
h1 {
  font-size: 1.875em;
  padding: 2rem 0;
  font-weight: 400;
  font-weight: 500;
}
h2 {
  font-size: 1.5em;
  padding: 2rem 0 1rem;
  font-weight: 400;
}
h3 {
  font-size: 1.375em;
  padding: 1.5rem 0 0.75rem;
  font-weight: 400;
}
p {
  line-height: 1.75em;
  padding-bottom: 1em;
}
ul,
ol {
  line-height: 1.75em;
  padding-bottom: 1em;
  padding-left: 1.625em;
  list-style-type: disc;

  li {
    padding-left: 0.375em;
    margin: 0.5em 0;

    &::marker {
      color: var(--ard-border);
    }
  }
}

//! subpage layout
$subpage-selectors: components-page;

#{$subpage-selectors} {
  display: grid;
  grid-template-columns: 15rem 1fr;
}
main {
  min-height: calc(100vh - 3.5rem);
  min-height: calc(100dvh - 3.5rem);
}

@media only screen and (max-width: 960px) {
  #{$subpage-selectors} {
    grid-template-columns: 1fr;
  }
  aside {
    display: none;
  }
}
