@import '../node_modules/@ardium-ui/ui/themes/default/core.scss';
@import '../node_modules/@ardium-ui/ui/themes/default/buttons/button.scss';
@import '../node_modules/@ardium-ui/ui/themes/default/buttons/icon-button.scss';
@import '../node_modules/@ardium-ui/ui/themes/default/tabber.scss';
@import '../node_modules/@ardium-ui/ui/themes/default/kbd.scss';
@import '../node_modules/@ardium-ui/ui/themes/default/card.scss';

@import './app/styles/code.scss';

//reset styles
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//global styling
html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, 'Segoe UI', sans-serif;
  font-size: 1rem;
  background-color: var(--ard-bg);
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  max-height: 100vh;
  max-height: 100dvh;
}

.no-pointer {
  pointer-events: none;
}

article {
  padding: 1rem 3rem 1.5rem 3rem;
}
h1 {
  font-size: 1.875em;
  padding: 1.25rem 0 2rem 0;
  font-weight: 400;
  font-weight: 500;
}
h2 {
  font-size: 1.5em;
  padding: 2rem 0 1rem;
  font-weight: 400;
}
h3 {
  font-size: 1.25em;
  padding: 0.75rem 0;
  font-weight: 400;
}
h4 {
  font-size: 1rem;
  padding: 0.75rem 0;
  font-weight: 600;
}
p {
  line-height: 1.5;
  padding-bottom: 1em;
}
a {
  text-decoration: none;
  color: rgb(var(--ard-primary-300));
  cursor: pointer;

  &:visited {
    color: rgb(var(--ard-secondary-300));
  }

  &:hover, &:focus-visible {
    text-decoration: underline;
  }
}
ul,
ol {
  line-height: 1.75em;
  padding-bottom: 1em;
  padding-left: 1.625em;
  list-style-type: disc;

  li {
    padding-left: 0.375em;
    margin: 0.5em 0;

    &::marker {
      color: var(--ard-border);
    }
  }
}
code {
  background-color: rgba(var(--ard-primary-500), 0.05);
  font-family: 'Fira Code', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0 0.25ch;
  font-size: 0.9em;
}
h1, h2, h3, h4, h5, h6 {
  code {
    background-color: transparent;
  }
}

//! table styling
table {
  border-collapse: collapse;
  margin-bottom: 1.5rem;
  width: 100%;
}
tr {
  border-bottom: 1px solid var(--ard-detail-ultralight);
}
th, td {
  padding: 0.5rem 0.75rem;
}
th {
  text-align: left;
  padding: 1.125rem 0.75rem 1rem 0.75rem;
}
td {
  p:last-child {
    padding-bottom: 0;
  }
}
//! subpage layout
$subpage-selectors: components-page, devkit-page;

#{$subpage-selectors} {
  display: grid;
  grid-template-columns: 15rem 1fr;
}
main {
  min-height: calc(100vh - 3.5rem);
  min-height: calc(100dvh - 3.5rem);
  overflow: hidden;
}

@media only screen and (max-width: 960px) {
  #{$subpage-selectors} {
    grid-template-columns: 1fr;
  }
  aside {
    display: none;
  }
}

//! other custom styling
.scrolled-to {
  animation: scrolledTo 3s ease-out;
}
@keyframes scrolledTo {
  0% {
  background-color: transparent;
  }
  5% {
    background-color: yellow;
  }
  80% {
    background-color: yellow;
  }
  100% {
    background-color: transparent;
  }
}